.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}
.greenYellow{
    background-color: greenyellow;
}
.grey{
    background-color: grey;
}
.pink{
    background-color: pink;
}